<body>
    <button onclick="startStreaming()">Start Streaming</button>
    <audio id="audio" autoplay></audio>
    <script src="https://cdn.jsdelivr.net/npm/hark@1.2.3/hark.bundle.min.js"></script>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="https://higuma.github.io/web-audio-recorder-js/js/WebAudioRecorder.min.js"></script>
    <script>
    </script>
  
    <script>
        var socket = io();
       
        var mediaRecorder;
        var mediaConstraints = {
            audio: true
        };
        let timer;
        var ignoreRecording = true;
        function startTimer() {
            // Clear any existing timer
            if (timer) {
                clearInterval(timer);
            }

            // Reset seconds
            seconds = 0;

            // Start the timer
            timer = setInterval(function() {
                seconds++;
                console.log(seconds);
                socket.emit('stopspeaking', "");
                mediaRecorder.finishRecording();
                clearInterval(timer);
            }, 1000);
        }

        navigator.getUserMedia(mediaConstraints, onMediaSuccess, onMediaError);

        function onMediaSuccess(stream) {
            mixer = audioContext.createGain();
            mediaRecorder = new WebAudioRecorder(stream, {
            workerDir: "javascripts/"     // must end with slash
            });
            recorder.setEncoding("wav")
            //mediaRecorder.mimeType = 'audio/wav'; // check this line for audio/wav
            //ediaRecorder.audioChannels = 1;

            var speechEvents = hark(stream, {});
            speechEvents.on('speaking', function() {
                ignoreRecording = false;
                console.log('speaking');
                socket.emit('startspeaking', "");
                if (timer) {
                    clearInterval(timer);
                }
                recorder.startRecording()
            });
            speechEvents.on('stopped_speaking', function() {
                ignoreRecording = true;
                console.log('stopped speaking');
                mediaRecorder.requestData();

                socket.emit('CLIENTstopspeaking', "");
                startTimer();
            });

            mediaRecorder.onComplete = function (recorder, blob) {
                console.log("data available");
                
                   
               
                var reader = new FileReader();
                reader.onloadend = function() {
                    console.log(reader)
                    var arrayBuffer = reader.result;
                    console.log("Send user audio to server");
                    socket.emit('audio', arrayBuffer);
                    
             
            };
            reader.readAsArrayBuffer( blob.data );
             }
    
            mediaRecorder.startRecording();
        }

        function onMediaError(e) {
            console.error('media error', e);
        }

        socket.on('audioPlay', function(data) {
            var audio = document.getElementById('audio');
            console.log("####################");
            console.log("Received audio from server");
            var blob = new Blob([data], { 'type' : 'audio/wav' });
            var audioURL = window.URL.createObjectURL(blob);
            audio.src = audioURL;
             // emit to server that audio has been played
             audio.onended = function() {
                console.log("Audio has ended");
               // mediaRecorder.resume();
                socket.emit('playServerAudioEnd', "");
            }
            socket.emit('playServerAudioStart', "");
            //mediaRecorder.pause();
            audio.play();
           
          
        });
    </script>
</body>